#container{
            margin-top: $large;
            margin-bottom: $large;
            

    .planets-title{
        font-weight: 800;
        text-transform: capitalize;
        display: flex;
        left: 50%;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    .parent{
        display: flex;
        flex-wrap: wrap;
        margin: 3rem;

        .box{
            height: 50%;
            width: 30%;
           
            margin: 1rem;
            // flex: 1 0 calc(25% - 10px);
            box-sizing: border-box;
            border-radius: 1%;
            
            //new

            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            
            margin: auto;
            

            .text{
                padding: $xtra-small;
                
                h4{
                    margin-bottom: $xtra-small;
                   
                }
            }

            p{
                color:gray;
            }
        }
        .img-fix{
           height:50%;
            width: 100%;
           overflow: hidden;

           img{
            width: 100%;
            height: 50%;
            

        }
        }

        
    }
}