///fonts
$montserrat: 'Raleway', ;
//colors

$orange: #ffa500;
$off-white:#f8f8f8;
$green: lightgreen;
$red: #ea4355;
$blue: #1da1f2;
$off-dark :#333;
$white: #fff;
$error-text: #f44336;
$gray:gray;
$light-gray: lightgrey;


//sizes
$xtra-small: 0.5rem;
$normal: 1rem;
$small-medium : 1.5rem;
$medium:2rem;
$large: 3rem;
$xtra-large: 5rem;
$xtra-xtra-large: 7rem;



/////buttons
$button-radius:30px;



///breakpoints
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;
$small-breakpoint: 641px;
$xtra-small-breakpoint: 480px;


//shadow
$shadow: 0 2px 2px 0 rgba(0,0,0, 0.14),0 3px 1px -2px rgba(0,0,0, 0.12), 0 1px 5px 0 rgba(0,0,0,0.2);